<% if @recipe %>
<h4> <%= @recipe.name %>'s  Reviews:</h4>
<ul>
 <% @comments.each do |comment| %>
 <li><%= link_to comment.title, recipe_comment_path(@recipe, comment) %></li> 
 <% end %>
</ul>
<% else %>
<h4>All Reviews:</h4>
<ul>
 <% @comments.each do |com| %>
 <li><%= link_to com.title, com %></li> 
 <% end %>
</ul>
<% end %>