<h1>All Recipes</h1>

<%= form_tag recipes_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<% @recipes.each do |recipe| %>
<%= link_to recipe.name, recipe_path(recipe) %><br>
<% end %>